/* Theme Variables */
:root {
  --background-color: rgba(255, 255, 255, 0.51);
  --text-color: black;
  --card-background: #f9f9f9;
  --card-border: #ddd;

  /* Semi-transparent colors */
  --semi-transparent: rgba(255, 255, 255, 0.6);
}

body.dark-mode {
  --background-color: #121212b9;
  --text-color: white;
  --card-background: #1e1e1e;
  --card-border: #444;

  /* Optionally tweak for dark mode */
  --semi-transparent: rgba(0, 0, 0, 0.8);
}

body.light-mode {
  --background-color: rgba(255, 255, 255, 0.3);
  --text-color: black;
  --card-background: #f9f9f9;
  --card-border: #ddd;

  /* Optionally tweak for light mode */
  
  --semi-transparent: rgba(255, 255, 255, 0.6);
}

/* Global Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
