.side-panel .edit-category-page {
  margin-top: 70px;
  padding: 2rem;
  border-style:solid;
  border-color:var(--text-color);
  border-radius: 10px;
  background-color: var(--semi-transparent);
}

.category-item {
  display: grid;
  grid-template-columns: 1fr auto; /* text is 1 fraction, button is auto-sized */
  align-items: center;
  margin-bottom: 10px;
}