.static-movie-card {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
}

.static-card-image {
    width: 180px;
    height: 200px;
    object-fit: cover;
    margin-left: -40px;
}

.static-movie-card:hover {
    transform: scale(1.1);
    z-index: 1;
}
