.static-movie-card {
    position: relative;
    width: 220px;
    height: 155px;
    transition: transform 0.3s ease;
}

.static-card-image {
    width: 110px;
    height: 155px;
    object-fit: cover;
    border-radius: 4px;
}

.static-movie-card:hover {
    transform: scale(1.1);
    z-index: 1;
}
