
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Align label and input vertically */
    text-align: left;
  }
  
  .form-group label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 14px;
    background-color:var(--background-color); /* Darker input background */
    color:var(--text-color);
    width: 100%; /* Full-width input fields */
  }
  
  .form-group input::placeholder {
    color: #999; /* Placeholder color */
  }
  
  .form-group select {
    cursor: pointer; /* Change cursor to pointer for dropdown */
  }
  
  /* Align the form content to the left */
  form {
    text-align: left;
  }

  .side-panel .add-category
  {
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    background-color: var(--semi-transparent);
    padding: 2rem;
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 10px;
  }
  