/* Profile Icon Container */
.profile-icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Profile Image Styling */
.profile-img {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
