/* Row Title */
.row-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  margin: 20px 0;
  padding-left: 20px;
  text-align: left;
}

/* Row Slider Container */
.row-slider {
  position: relative;
  margin: 20px 0;
}

/* Slider Container */
.slider-container {
  display: flex;
  gap: 40px; /* Space between cards */
  overflow: hidden; /* Hide overflowing content */
  scroll-behavior: smooth; /* Smooth scrolling */
  padding: 20px 0;
  margin-left: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

/* Arrow Buttons */
.arrow {
  position: absolute;
  top: 55%;
  width : 45px;
  height: 180px;
  transform: translateY(-50%);
  background-color: rgba(244, 239, 239, 0.142); /* Semi-transparent black */
  color:  var(--text-color);
  border: none;
  z-index: 10;
  font-size: 24px;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(224, 215, 215, 0.513); /* Netflix red */
}

/* Movie Cards */
.slider-container .card {
  flex-shrink: 0; /* Prevent cards from shrinking */
  width: 320px; /* Fixed width for cards */
}
.left-arrow img {
  padding-left: 10px; /* Moves icon right */
}

/* For right arrow, keep symmetry */
.right-arrow img {
  padding-right: -20px;
}